<h1>Notifications</h1>

<ul>
  <li><%#= button_to "Mark as read", method: :delete %></li>
  <% @notifications.each do |notification| %>
    <%# Customize your notification format here. We typically recommend a `message` and `url` method on the Notification classes. %>
      <li><%= link_to notification.message, notification.url %></li>
  <% end %>
</ul>
